@import url("https://fonts.googleapis.com/css2?family=Kode+Mono:wght@400..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap");
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Quicksand", sans-serif;
}

.App {
    background-color: #0f1924;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 3rem;
    color: white;
}

/* ---------------------------------------------- Header ------------------------------------- */
.header {
    display: flex;
    align-items: center;
    gap: 2rem;
}
img {
    height: 5rem;
    width: 5rem;
    transition: all 3s;
    border-radius: 50%;
    cursor: pointer;
}
img:hover {
    transform: rotate(360deg) scale(1.1);
    box-shadow: 10px 10px 10px black;
}
h1 {
    font-family: "Kode Mono", monospace;
    font-size: 3.5rem;
}
/* --------------------------------------------------- Bar --------------------------------- */
.bar {
    width: 40%;
    font-family: "Quicksand", sans-serif;
}
.bar input {
    width: 100%;
    -webkit-appearance: none;
    appearance: none;
    outline: none;
    background-color: #064c97;
    border-radius: 2rem;
    border: none;
    height: 0.75rem;
}
.bar-infos {
    justify-content: space-between;
    display: flex;
    font-size: small;
}
/* ------------------------------------------------ Questions -----------------------------*/
.questions {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 40%;
}
.questions h3 {
    font-size: large;
}
.questions ul {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}
.questions li {
    list-style: none;
    background: rgb(35, 59, 59);
    border-radius: 2rem;
    padding: 0.5rem 0.75rem;
    cursor: pointer;
    transition: all 0.3s;
    font-weight: 600;
}
.questions li:hover {
    transform: scale(1.03);
}
.time {
    border: 1px solid gray;
    padding: 0.5rem 0.75rem;
    width: 15%;
    border-radius: 2rem;
    text-align: center;
    cursor: default;
}
