@import url("https://fonts.googleapis.com/css2?family=Kode+Mono:wght@400..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap");
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.App {
    background-color: #0f1924;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 2rem;
}

/* ---------------------------------------------- Header ------------------------------------- */
.header {
    display: flex;
    align-items: center;
    gap: 2rem;
}
img {
    height: 5rem;
    width: 5rem;
    transition: all 3s;
    border-radius: 50%;
    cursor: pointer;
}
img:hover {
    transform: rotate(360deg) scale(1.1);
    box-shadow: 10px 10px 10px black;
}
h1 {
    font-family: "Kode Mono", monospace;
    color: white;
    font-size: 3.5rem;
}
/* --------------------------------------------------- Bar --------------------------------- */
.bar {
    width: 30%;
    color: white;
    font-family: "Quicksand", sans-serif;
}
.bar input {
    width: 100%;
    -webkit-appearance: none;
    appearance: none;
    outline: none;
    background-color: #064c97;
    border-radius: 2rem;
    border: none;
}

.bar-infos {
    justify-content: space-between;
    display: flex;
    font-size: small;
}
