@import url("https://fonts.googleapis.com/css2?family=Kode+Mono:wght@400..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Micro+5&display=swap");
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Quicksand", sans-serif;
}

.App {
    background-color: #0f1924;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 3rem;
    color: white;
}

/* ---------------------------------------------- Header ------------------------------------- */
.header {
    display: flex;
    align-items: center;
    gap: 2rem;
}
img {
    height: 5rem;
    width: 5rem;
    transition: all 3s;
    border-radius: 50%;
    cursor: pointer;
}
img:hover {
    transform: rotate(360deg) scale(1.1);
    box-shadow: 10px 10px 10px black;
}
h1 {
    font-family: "Kode Mono", monospace;
    font-size: 3.5rem;
}
/* --------------------------------------------------- Bar --------------------------------- */
.bar {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    font-family: "Quicksand", sans-serif;
    margin-bottom: 2rem;
}
progress {
    width: 100%;
    appearance: none;
    outline: none;
    border-radius: 2rem;
    border: none;
    height: 0.65rem;
}
.bar-infos {
    justify-content: space-between;
    display: flex;
    font-size: small;
    font-weight: 700;
}
/* ------------------------------------------------ Questions -----------------------------*/
.questions {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 40%;
}
.questions h3 {
    font-size: large;
}
.questions ul {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}
.btn {
    background: rgb(35, 59, 59);
    border-radius: 2rem;
    padding: 0.5rem 0.75rem;
    cursor: pointer;
    transition: all 0.3s;
    font-weight: 600;
    color: white;
    font-weight: 600;
    border: none;
    font-size: 1rem;
}
.btn:hover {
    transform: translateX(1rem);
}
.next {
    color: white;
    background-color: transparent;
    border: none;
    outline: 2px solid gray;
    border-radius: 2rem;
    cursor: pointer;
    text-align: center;
    transition: all 0.3s;
    font-weight: 600;
    width: 20%;
}
.next:hover {
    background-color: #131e29;
}
.info-wrapper {
    display: flex;
    justify-content: space-between;
}
.question {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.correct {
    background-color: green !important;
    transform: translateX(1rem);
}
.select {
    transform: scale(1.03) translateX(0) !important;
    background-color: orangered;
}
.time {
    border: 1px solid gray;
    padding: 0.5rem 0.75rem;
    width: 15%;
    border-radius: 2rem;
    text-align: center;
    cursor: default;
}
/* ------------------------------------------- Loader ------------------------------- */
.loader {
    width: 60px;
    aspect-ratio: 4;
    --c: #000 90%, #0000;
    background: radial-gradient(
            circle closest-side at left 6px top 50%,
            var(--c)
        ),
        radial-gradient(circle closest-side, var(--c)),
        radial-gradient(circle closest-side at right 6px top 50%, var(--c));
    background-size: 100% 100%;
    background-repeat: no-repeat;
    animation: l4 1s infinite alternate;
}
@keyframes l4 {
    to {
        width: 25px;
        aspect-ratio: 1;
    }
}
/* ----------------------------------------- Ready ------------------------------------------*/
.ready {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    width: 40%;
}
.ready div {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
}
.ready h2 {
    font-size: 3rem;
    font-family: "Micro 5", sans-serif;
}
.ready h3 {
    font-size: 1rem;
}
.ready button {
    color: white;
    background-color: transparent;
    border: none;
    outline: 2px solid gray;
    padding: 0.5rem 0.75rem;
    border-radius: 2rem;
    cursor: pointer;
    text-align: center;
    transition: all 0.3s;
    font-weight: 600;
}
.ready button:hover {
    transform: scale(1.1);
    background-color: #131e29;
}
/* ---------------------------------------- Error ---------------------------------------- */
.error {
    display: flex;
    justify-content: center;
    align-items: center;
}
.error h2 {
    font-size: 1.2rem;
    border: 2px solid orangered;
    padding: 0.75rem 2rem;
    border-radius: 2rem;
    color: white;
    background-color: darkslategrey;
}
/* ----------------------------------------- Finish --------------------------------------- */
.finish {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1.5rem;
}
.finish h2 {
    font-size: 1.2rem;
    font-weight: 700;
    padding: 0.75rem 2rem;
    border-radius: 2rem;
    color: white;
    background-color: lightseagreen;
}
.finish button {
    color: white;
    background-color: transparent;
    border: none;
    outline: 2px solid gray;
    padding: 0.45rem 1.3rem;
    border-radius: 2rem;
    cursor: pointer;
    text-align: center;
    transition: all 0.3s;
    font-weight: 700;
    font-size: 0.85rem;
}
.finish button:hover {
    transform: scale(1.1);
    background-color: #131e29;
}
