@import url("https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rubik&display=swap");

h1 {
    font-family: "Permanent Marker", cursive;
    color: white;
    font-size: 3rem;
}

.header {
    padding: 1rem 0;
    display: flex;
    justify-content: center;
    background-color: #a62639;
}

.form {
    display: flex;
    justify-content: center;
    font-family: "Rubik", sans-serif;
    padding: 1.5rem 0;
    background-color: #fe621d;
}
