@import url("https://fonts.googleapis.com/css2?family=MedievalSharp&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.App {
    background: hsla(165, 89%, 31%, 1);

    background: linear-gradient(
        90deg,
        hsla(165, 89%, 31%, 1) 0%,
        hsla(161, 46%, 49%, 1) 100%
    );

    background: -moz-linear-gradient(
        90deg,
        hsla(165, 89%, 31%, 1) 0%,
        hsla(161, 46%, 49%, 1) 100%
    );

    background: -webkit-linear-gradient(
        90deg,
        hsla(165, 89%, 31%, 1) 0%,
        hsla(161, 46%, 49%, 1) 100%
    );

    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#099773", endColorstr="#43B692", GradientType=1 );
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3.5rem;
    font-family: "Roboto", sans-serif;
    font-style: normal;
}
/* ------------------------- Header -------------------------------- */
h1 {
    font-family: "MedievalSharp", cursive;
    font-weight: 400;
    font-size: 4rem;
    font-style: normal;
    color: aliceblue;
}
/* -------------------------- Wrapper ------------------------------ */
form {
    padding: 2rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    background: rgba(255, 255, 255, 0.82);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(18px);
    -webkit-backdrop-filter: blur(18px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    -webkit-box-shadow: 0px 0px 23px 3px rgba(0, 0, 0, 0.53);
    box-shadow: 0px 0px 23px 3px rgba(0, 0, 0, 0.53);
}
form div {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
input[type="number"] {
    border: none;
    background-color: #16e0a7;
    border-radius: 1rem;
    padding: 0.3rem 0.5rem;
}
select {
    border: none;
    background-color: #16e0a7;
    border-radius: 0.5rem;
    padding: 0.25rem;
    width: 35%;
    cursor: pointer;
}
button {
    border: none;
    padding: 0.5rem 0.5rem;
    background-color: #16e0a7;
    width: 10%;
    border-radius: 0.5rem;
    font-weight: 700;
    cursor: pointer;
    text-align: center;
    align-self: center;
    transition: transform 0.3s;
}
button:hover {
    transform: scale(1.1);
}
