@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.App {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Roboto", sans-serif;
    font-style: normal;
}
/* ------------------------ Friends -------------------------- */
.wrapper {
    width: 40%;
}
.friend-wrapper {
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: all 0.3s;
    padding: 0.5rem 1rem;
}
.friend-wrapper:hover {
    background-color: bisque;
}
.friend-wrapper div {
    display: flex;
    align-items: center;
    gap: 2rem;
}
h4 {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    font-size: 1.5rem;
}
h4 span {
    font-weight: 400;
    font-size: 1rem;
}
img {
    height: 5rem;
    width: 5rem;
    border-radius: 50%;
}
.friend-wrapper button {
    border: none;
    background-color: darkorange;
    font-weight: 700;
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    cursor: pointer;
}
