.wrapper {
    height: 100vh;
    padding: 1rem;
    background: #7314a2;
    background: linear-gradient(135deg, #7314a2, #76563d);
}
.wrapper form {
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    width: 25%;
    padding: 2rem;
    border-radius: 2rem;
    background: #241f31;
    box-shadow: 20px 20px 60px #1f1a2a, -20px -20px 60px #292438;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
.wrapper form div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
.wrapper form input {
    border: none;
    border-radius: 0.5rem;
    padding: 0.25rem 0.5rem;
}
.wrapper form input:focus {
    outline: 3px solid #76563d;
}
.wrapper form a {
    margin-top: 0.5rem;
    border: none;
    border-radius: 0.5rem;
    padding: 0.5rem 1.5rem;
    background-color: lightgreen;
    cursor: pointer;
    text-decoration: none;
    color: #1f1a2a;
}
.wrapper form a button {
    border: none;
    width: 100%;
}
