.main {
    width: 100vw;
    height: 100vh;
    display: flex;
}
.leftSide {
    height: 100%;
    width: 40%;
    padding: 2rem;
    background-color: #1f1a2a;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    border-radius: 0 1rem 1rem 0;
}
.leftSide img {
    height: 3rem;
}
.leftSide ul {
    list-style: none;
    display: flex;
    background-color: grey;
    border-radius: 7px;
}
.leftSide a:link,
.leftSide a:visited {
    display: block;
    color: inherit;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 0.9rem;
    font-weight: 700;
    padding: 0.5rem 2rem;
    border-radius: 5px;
}
.leftSide a:global(.active) {
    background-color: #ea3a36;
}

.leftSide p {
    font-size: 0.9rem;
    color: gray;
}
.rightSide {
    height: 100%;
    width: 60%;
}
