@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Sixtyfour&display=swap");
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.App {
    background-color: #282828;
    height: 100vh;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
    padding: 1rem;
}
/* ----------------------------------- nav --------------------------------*/
nav {
    background-color: #9932cc;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    justify-content: space-between;
    border-radius: 0.5rem;
    padding: 0.75rem 1rem;
    color: white;
}
nav h2 {
    font-family: "Sixtyfour", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings: "BLED" 0, "SCAN" 0;
    font-size: 1.25rem;
}
nav h3 {
    font-size: 1rem;
    justify-self: end;
    margin-right: 2rem;
    font-weight: 400;
}
nav h3 span {
    font-weight: 700;
}
nav div {
    display: flex;
    align-items: center;
    gap: 1rem;
}
nav img {
    height: 2.5rem;
    width: 2.5rem;
}
nav input {
    border: none;
    padding: 0.75rem 1rem;
    border-radius: 0.25rem;
    width: 80%;
    background-color: #6d129be3;
    color: white;
    justify-self: center;
}
/* -------------------------------- wrapper ------------------------------ */
.wrapper {
    height: 85%;
    display: flex;
    justify-content: center;
    margin: 1rem 0;
    gap: 1rem;
}
.list {
    width: 25%;
    height: 100%;
    background-color: #575757;
    border-radius: 0.5rem;
    overflow: hidden;
    position: relative;
}
/* --------------------------------- item wrapper -------------------------- */
.item-wrapper {
    color: white;
    display: flex;
    padding: 0.75rem 1.5rem;
    gap: 1rem;
}
.item-wrapper img {
    height: 4rem;
    width: 3rem;
    border-radius: 0.5rem;
}
.item-wrapper div {
    align-self: center;
    display: flex;
    gap: 0.5rem;
    flex-direction: column;
}
.name {
    font-size: 1rem;
    font-weight: 700;
}
.year {
    font-size: 0.85rem;
}
/* ----------------------------- btn -------------------------- */
.list-btn {
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    height: 1.5rem;
    width: 1.5rem;
    position: absolute;
    right: 1rem;
    top: 1rem;
    cursor: pointer;
    background-color: #282828;
    padding: 0.25rem;
}
.list-btn:hover {
    transform: scale(1.1);
}
.list-btn svg {
    color: white;
}
/* ------------------------------ user control ------------------ */
.user-control {
    padding: 1.5rem 1rem;
    color: white;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    background-color: gray;
    border-radius: 0.5rem;
}
.user-control h3 {
    font-size: 1rem;
}
ul {
    display: flex;
    justify-content: space-between;
}
li {
    list-style: none;
    font-size: 0.8rem;
}
/* ------------------------- user item -------------------------- */
.UserItem-wrapper {
    color: white;
    display: flex;
    padding: 0.75rem 1.5rem;
    gap: 1rem;
}
.UserItem-wrapper img {
    height: 4rem;
    width: 3rem;
    border-radius: 0.5rem;
}
.UserItem-wrapper div {
    align-self: center;
    display: flex;
    gap: 0.5rem;
    flex-direction: column;
    width: 100%;
}
.UserItem-wrapper ul {
    width: 90%;
}
