* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    height: 100vh;
    background-image: linear-gradient(
        35deg,
        hsl(240deg 100% 50%) 1%,
        hsl(240deg 100% 48%) 43%,
        hsl(240deg 100% 46%) 50%,
        hsl(240deg 100% 44%) 51%,
        hsl(240deg 100% 42%) 51%,
        hsl(240deg 100% 40%) 49%,
        hsl(240deg 100% 38%) 49%,
        hsl(240deg 100% 36%) 50%,
        hsl(240deg 100% 34%) 57%,
        hsl(0deg 0% 0%) 99%
    );
    background-repeat: no-repeat;
    color: white;
}

.box {
    height: 30%;
    width: 60vw;
    display: flex;
    flex-direction: column;
    background: rgba(255, 255, 255, 0.16);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(8.6px);
    -webkit-backdrop-filter: blur(8.6px);
    border: 1px solid rgba(255, 255, 255, 0.11);
}
