@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    font-family: "Roboto", sans-serif;
    height: 100vh;
    background-image: linear-gradient(
        35deg,
        hsl(240deg 100% 50%) 1%,
        hsl(240deg 100% 48%) 43%,
        hsl(240deg 100% 46%) 50%,
        hsl(240deg 100% 44%) 51%,
        hsl(240deg 100% 42%) 51%,
        hsl(240deg 100% 40%) 49%,
        hsl(240deg 100% 38%) 49%,
        hsl(240deg 100% 36%) 50%,
        hsl(240deg 100% 34%) 57%,
        hsl(0deg 0% 0%) 99%
    );
    background-repeat: no-repeat;
    color: white;
}

.close {
    position: absolute;
    top: 3rem;
    right: 3rem;
    width: 2rem;
    transition: all 0.3s;
    cursor: pointer;
}

.close:hover {
    transform: scale(1.1) rotate(90deg);
}

.box {
    height: 30%;
    width: 60vw;
    display: flex;
    padding: 1rem;
    flex-direction: column;
    gap: 3rem;
    background: rgba(255, 255, 255, 0.16);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(8.6px);
    -webkit-backdrop-filter: blur(8.6px);
    border: 1px solid rgba(255, 255, 255, 0.11);
}

.steps {
    height: 100%;
    display: flex;
    justify-content: space-around;
}

.steps li {
    height: 2rem;
    width: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 50%;
    cursor: pointer;
}

.steps a {
    text-decoration: none;
    color: white;
}

.active-step {
    background-color: rgba(0, 0, 0, 0.9) !important;
    transform: scale(1.1);
}

.texts {
    align-self: center;
}

.btn-container {
    display: flex;
    justify-content: space-around;
}

.btn {
    padding: 0.5rem;
    cursor: pointer;
    border: none;
    width: 10%;
    border-radius: 3rem;
    color: white;
    background: hsl(240deg 100% 40%) 51%;
    font-size: 0.9rem;
    transition: all 0.3s;
}
.btn:hover {
    transform: scale(1.1);
    background: rgba(0, 0, 0, 0.5);
}
